* {
  font-family: "Onest", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #9DBEDF;
}

.container {
  background-color: #354656;
  text-align: center;
  margin-top: 150px;
  border: 1px;
  border-color: #f2958d;
  width: 245px;
  height: 184px;
  padding-top: 32px;
  margin-left: 38%;
  border-radius: 15px;
}

p {
  background-color: #354656;
  color: #9E9686;
  font-weight: 900;
}

h1 {
  background-color: #354656;
  margin-bottom: 10px;
  color: #9E9686;
  font-weight: 900;
}

button {
  height: 45px;
  width: 25px;
  margin-right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
    opacity: 0.5;
}
#rock {
  background-color: #66b932;
}

#paper {
  background-color: #00547f;
  margin-bottom: 20px;
}

#scissor {
  background-color: #400a0f;
}

.sua-pontuação {
    background-color: #354656;
    color:#0004ff;
    font-weight: 900;
}

.robo-pontuação {
    background-color: #354656;
    color:#7f0000;
    font-weight: 900;
 }

.result {
  color: black;
  font-weight: 900;
  
}